
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/* .about{
background: url("../aboutComponent/home-office-381229.jpg") no-repeat left  ;
background-size: contain;
border-radius: 10px;
} */
.about-head{
   
    text-align: center;
    padding-bottom: 30px;
    display: inline-block;
    margin: 20px auto;
     font-family: 'Lato', sans-serif;
    border-bottom: 3px solid aqua;
    font-weight: bold;
}
.about-text{
    margin: 2rem auto;
    padding: 70px;
    text-align: center;
    border-radius:0% 32% 29% 21% / 42% 60% 58% 45%  ; 
    max-width: 600px;
    color:#ffffff;
    
    
   
}
.about-text p{
     font-size: 18px;
    font-weight: 500;
    
    
}
.hello {
   
    color: #2fa5a5;
    
}
.about-image {
  opacity: .7;
    margin: 50px 20px;
   
}

.about-image img{
    width: 100%;
    display: block;
    border-radius: 0% 32% 29% 21% / 42% 60% 58% 45%; 
    
}
@media screen and (max-width: 600px) {

.about-text {
    font-size: 15px;
    font-weight: 300;
    padding: 15px;
    background:none;

}

.about-image img {
    padding: 0 5px;
    margin: auto;
}
}