.skills{
   margin:25px auto;
   
} 
.skills h3 {
    font-size: 20px;
    text-transform: uppercase;
    display: inline;
    color:blanchedalmond;
    padding-left: 20px;
   
}
.skills-page{
    background:#000 url("../../assest/black-white-futuristic-spaces.jpg") no-repeat top center  ;
    background-size: cover;
    height: 100vh;
    
}
.skill-item {
    padding:20px;
    margin: 10px auto;
    position:relative;
    background:#2a665d;
    min-height: 146px;
    transition: .5s;
     -webkit-box-shadow: 0px 12px 28px -7px #f9fafaa6; 
    box-shadow: 0px 12px 28px -7px #feffffa6;
    
}

.skill-image {
    width:20%;
    display:inline-block;
    margin-top: 38px;
 
}
.skill-name{
    display:inline-block;
    position: absolute;
    top:50%;
  

}
.skill-image img{
  
    width:100%;
    display: block;
}
@media screen and (max-width: 600px){
    .skills-page{
        height:100%;
        min-height: 100vh;
    }
   .skill-image{
       margin-top: 16px;
   }
    .skill-item{
        min-height: fit-content;
    }
}