#sticky-sidebar{
    z-index: 100;
    
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-content :center;
    min-height:100%;
    height: 100vh;
    background-color: black;
   
}
.links-wrapper{
    transition: 3s;
}
.side-wrapper{
    width: 100px;

}
.bars {
  
   font-size:30px;
   color:#fff;
   cursor: pointer;
  padding: 10px 23px;

}

.icons-con{
    text-align: center;
   
    
    padding-right: 20px;
    
}
.nav-icon{
    padding-top: 30px;
}
.links-con{
    
    padding-top: 63px;
    width:0;
    /* transition: width 350ms ; */
    display: none;
    
    
   
}
.nav-Item a{
    text-decoration: none;
    position: relative;
    
    font-size: 16px;
    color: #ffffffa8;
 
}
.nav-Item a::before{
     content: attr(data-text);
    color: aqua;
    position: absolute;
    left: 0;
    top: -1px;
    /* padding: 10px 0px; */
    width: 0;
    /* display: inline-block; */
    overflow: hidden;
    transition: .4s;
    border-bottom: 3px solid aqua;
}
.nav-Item a:hover::before{
    /* color:aqua; */
    width:100%;
    
}

/* .nav-icon a.active .icon{
    color:aqua;
} */
.nav-Item a.active{
    
  border-bottom: 3px solid aqua;
  color:aqua;

}
.nav-Item a.active:hover::before{
     border-bottom: none;
     color:aqua;
     content:"";
     width:0;
}
.nav-icon a .icon{
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: .3s;
}
.nav-icon a.active .icon {
color: aqua;
}
.nav-icon a.active .icon svg{
    
    width:1.5em !important ;
    height: 1.5em !important;
    -webkit-box-shadow: 0 8px 6px -6px rgb(221, 219, 219);
	   -moz-box-shadow: 0 8px 6px -6px rgb(221, 219, 219);
	        box-shadow: 0 8px 6px -6px rgb(221, 219, 219);
}
.nav-icon a .icon:hover{
    color:aqua;
}
.links-con div:nth-child(2),.links-con div:nth-child(3),.links-con div:nth-child(4),.links-con div:nth-child(5){
    padding-top: 50px;
}
.nav-Item{
 padding-top: 47px;
 
}



.icon{
    color: #fff;
    
    font-size:30px;
}
@media screen and (max-width: 600px){
   .bars{
       padding:10px;
   }
    .side-wrapper {
        width: 50px;
    }
    .icon{
        font-size:25px;
    }
    .icons-con{
        padding-right: 0px;
    }
    .links-con div:nth-child(2), .links-con div:nth-child(3), .links-con div:nth-child(4), .links-con div:nth-child(5) {
    padding-top: 41px;
}
}