#sticky-sidebar{
    z-index: 100;
    
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-content :center;
    min-height:100%;
    height: 100vh;
    background-color: black;
   
}
.side-wrapper{
    width: 100px;

}
.bars {
  
   font-size:30px;
   color:#fff;
   cursor: pointer;
  padding: 10px 23px;

}

.icons-con{
    text-align: center;
   
    
    padding-right: 20px;
    
}
.nav-icon{
    padding-top: 30px;
}
.links-con{
    
    padding-top: 63px;
    width:0;
    transition: width 350ms ;
    display: none;
    
    
   
}
.nav-Item a{
text-decoration: none;
}
.nav-Item a:hover{
    color:aqua;
    
}
.nav-icon a.active .icon{
    color:aqua;
}
.nav-Item a.active{
    color:aqua;
}
.nav-icon a .icon:hover{
    color:aqua;
}
.links-con div:nth-child(2),.links-con div:nth-child(3),.links-con div:nth-child(4),.links-con div:nth-child(5){
    padding-top: 50px;
}
.nav-Item{
 padding-top: 47px;
 
}
.nav-Item a{
 
 color: #fff;
 
}


.icon{
    color: #fff;
    
    font-size:30px;
}
@media screen and (max-width: 600px){
   .bars{
       padding:10px;
   }
    .side-wrapper {
        width: 50px;
    }
    .icon{
        font-size:25px;
    }
    .icons-con{
        padding-right: 0px;
    }
    .links-con div:nth-child(2), .links-con div:nth-child(3), .links-con div:nth-child(4), .links-con div:nth-child(5) {
    padding-top: 41px;
}
}