@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.content-div{
    font-family: 'Lato', sans-serif;
    text-align: center;
    
    width : 100%;
    height: 100vh;
    color:#fff;
    padding :28% 25%;
    overflow: hidden;
    background :url(../HomeContent/macbook-computer-laptop.jpg) no-repeat #000000;
    background-size: cover;
    display: block;
}

.content-div .text-wrap h2 {
    font-size : 50px;
    
     
}

 .content-div .text-wrap p{
    font-size: 30px;
 }

