@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    
    
    
}
/* scroolbar style */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: aqua; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 255, 0.507); 
}

.app{
    display: flex;
    flex-direction: row;
    align-content :center;
    
    cursor:  url('../src/assest/mouse-pointer.png') ,auto;
}
.app .content {
    flex:90%;
    margin-left: 5.5%;
    background:#000 url("../src/assest/black-white-futuristic-spaces.jpg") no-repeat top center  ;
    background-size: cover;
    
}



.contact-page{
     
    height: 100%;
    min-height:100vh ;
    overflow: hidden;
}
h2{
    color:#fff;

}
.title{
    padding: 30px 0 ;
    display: inline-block;
    border-bottom:4px solid aqua;
}

 /* h2{
    font-size: 25px;
    font-weight: bold ;
} */
 p{
    color:blanchedalmond;
    font-weight: 400;
    padding-top: 30px;
}

 .email a{
    display:inline-block;
    text-decoration: none;
    border-left: 4px solid aquamarine;
    color: black;
    padding: 30px;
    background: linear-gradient(to left,white 50%, aquamarine 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    font-size: 20px;
    font-weight: 700;
}
.contactImage{
    max-width: 500px;
    margin : 13em  auto;
    
}
.contactImage img{
    width:100%;
    display: block;
    border-radius:0% 32% 29% 21% / 42% 60% 58% 45%   ;
}
 a:hover{
     background-position: left;
}
.tsparticles-canvas-el{
    position: absolute;
    top:0;
    left:0;
    height: 100vh !important;
    
    z-index: 0;
   

}
@media screen and (max-width: 900px){
    .app .content{
        margin-left: 13%;
    }
}
 @media screen and (max-width: 600px){
    .app .content{
        margin-left: 12%;
        
    }
   .contactImage {
        margin: 4em auto;
    }
    .email a{
        font-size: 15px;
        font-weight: 500;
    }
  .tsparticles-canvas-el{
      width:100% !important;
      height:100% !important;
  }
  
}