@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
}
.app{
    display: flex;
    flex-direction: row;
    align-content :center;
    
}
.app .content {
    flex:90%;
    margin-left: 6%;
    background:#000 url("../src/assest/black-white-futuristic-spaces.jpg") no-repeat top center  ;
    background-size: cover;
    height: 100vh;
}

h2{
    color:#fff;

}
.title{
    padding: 30px 0 ;
    display: inline-block;
    border-bottom:4px solid aqua;
}
.contact-text{
    text-align: center;
    padding-top :50px;
    font-family: 'Lato', sans-serif;
    margin-top:10%;

}
.contact-text h2{
    font-size: 25px;
    font-weight: bold ;
}
.contact-text p{
    color:blanchedalmond;
    font-weight: 400;
}
.contact-text a{
    display:inline-block;
    text-decoration: none;
    border-left: 4px solid black;
    color: black;
    padding: 30px;
    background: linear-gradient(to left,white 50%, aquamarine 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    font-size: 20px;
    font-weight: 700;
}
.contactImage{
    max-width: 500px;
    margin : 30% auto;
    
}
.contactImage img{
    width:100%;
    display: block;
    border-radius:0% 32% 29% 21% / 42% 60% 58% 45%   ;
}
.contact-text a:hover{
     background-position: left;
}
.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width:100vw;
   

}
@media screen and (max-width: 900px){
    .app .content{
        margin-left: 14%;
    }
}
 @media screen and (max-width: 600px){
    .app .content{
        margin-left: 26%;
        height: 100%;
    }
}